<div class="blackground" align="center" >
  <div class="form">
    <h1>เข้าสู่ระบบ</h1>
    <p>เติมข้อมูลในแบบฟอร์มนี้เพื่อเข้าสู่ระบบ</p>
    <hr>


    <mat-form-field class="half-width">
      <mat-label>ชื่อผู้ใช้</mat-label>
      <input matInput placeholder="สำหรับเข้าสู่ระบบ" [(ngModel)]="loginData.usernameInput" >
    </mat-form-field>
    <br>
    <mat-form-field class="half-width">
      <mat-label>รหัสผ่าน</mat-label>
      <input matInput placeholder="สำหรับเข้าสู่ระบบ" [(ngModel)]="loginData.passwordInput">
    </mat-form-field>


    <br>
    <button mat-flat-button (click)="login()" >เข้าสู่ระบบ</button>
    <p>ยังไม่ได้สมัครสมาชิก <a href="regis">สมัครสมาชิก</a></p>
  </div>
</div>
