table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.blackground{
    width: 100%;
    background-color:  #d7d7c1;
     min-height: 100vh;
  }
.form {
    width: 70%;
    background-color:  #ffffff;
    padding: 20px;
  }
.full-width {
    width: 100%;
  }
.text{
    color: white;
  }

