.blackground{
  width: 100%;
  min-height : 100vh;
  background-color:  #d7d7c1;
}
.form{
  padding-top : 10px ;
  padding-bottom : 10px;
  min-height : 100vh;
  width: 70%;
  background-color:  #ffffff;
}
.half-width2{
  width: 12%;
}
.half-width{
  width: 35%;
}
.full-width{
  width: 70%;
}
hr {
  border: 1px solid #f1f1f1;
  width: 70%;
  margin-bottom: 25px;
}
table {
    width: 100%;

}
