<mat-toolbar class="topbar">
  <button mat-icon-button (click)="login()">
    <mat-icon class="material-icons">home</mat-icon>
  </button>
  <button mat-icon-button (click)="show_profile()">
    <mat-icon class="material-icons">assignment_ind</mat-icon>
  </button>
  <button mat-icon-button (click)="store()">
    <mat-icon class="material-icons">store</mat-icon>
  </button>
  <button mat-icon-button (click)="proposal_list()">
    <mat-icon class="material-icons">assignment</mat-icon>
  </button>
  <button mat-icon-button (click)="additem()">
    <mat-icon class="material-icons" >add</mat-icon>
  </button>
  <button mat-icon-button (click)="deleteitem()">
    <mat-icon class="material-icons" >delete</mat-icon>
  </button>
  <button mat-icon-button (click)="show_shipping()">
    <mat-icon class="material-icons">local_shipping</mat-icon>
  </button>
  <button mat-icon-button (click)="meeting_show()">
    <mat-icon class="material-icons">group</mat-icon>
  </button>
</mat-toolbar>
